.cart-wrapper {
  width: 70%;
  margin: 20px auto;
}

.cart-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 2px 2px 3px #c0c0c0;
}
.cart-item img {
  width: 70px;
  margin-right: 10px;
}
.cart-item .cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.cart-item button {
  display: inline-block;
  padding: 7px;
  background-color: #2a5ea5;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}